@mixin button($btn_color) {
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: inline-block;
  font-weight: 700;
  padding: 3px 6px;
  background: lighten($btn_color, 40);
  color: $btn_color;
  border: 1px solid $btn_color;
  border-radius: 3px;
  text-decoration: none;

  &:hover {
    background: lighten($btn_color, 50);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
