li.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;

  &:last-child {
    border-bottom: none;
  }

  &:hover, label:hover {
    cursor: pointer;
  }

  .btn-container {
    display: flex;

    .btn-delete {
      margin-left: 0.5rem;
    }
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input:checked + span {
      color: #999;
    }

    span {
      position: relative;

      .line-through {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: #999;
      }
    }

  }
}
