@import "../abstracts/mixins";

form.input-form {
  position: relative;
  margin-top: 1rem;
  display: flex;

  button {
    margin-left: 0.5rem;
  }

  p.error {
    @include error-message;
    position: absolute;
    bottom: -1.5rem;
    width: 100%;
  }
}
